body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

header.scrolled {
  background-color: #555;
  opacity: 0.9;
}

nav {
  background-color: #444;
  padding: 0.5em;
  transition: background-color 0.5s ease-in-out;
}

nav:hover {
  background-color: #666;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.profile img {
  border-radius: 50%;
  max-width: 150px;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.profile:hover {
  transform: scale(1.1);
}

.profile img:hover {
  transform: scale(1.2);
}

.about-me {
  margin-top: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  transition: background-color 0.5s ease-in-out;
}

footer:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  nav {
    display: block;
    text-align: center;
  }

  nav li {
    display: block;
    margin: 5px 0;
  }
}
